
form.thesis_form>fieldset {
  padding: 20px;
}

.thesis_form .fitem .fitemtitle {
  width: 23%;
}

.thesis_form .fitem .felement {
  margin-left: 24%;
}

.thesis_form input[type="text"] {
  width: 69% !important;
}

.thesis_form textarea {
  width: 69% !important;
  height: 60px;
  padding: 8px;
  color: #6f6f6f;
  font-weight: bold;
  border: 1px solid #999;
}

.thesis_form img.iconhelp {
  margin-right: 0 !important;
}

.thesis_form #fitem_id_publish_kar>div {
  text-align: right;
}

.thesis_form #id_submitpublish, .thesis_form #id_submitdraft {
  float: right;
}

.thesis_ok {
  margin-bottom: 10px !important;
}

.thesis_list table.thesis {
  margin-top: 20px;
  font-size: 120%;
}

table.thesis th, table.thesis td {
  padding: 8px;
  line-height: 25px;
  text-align: left;
}

.thesis_list table th:first-of-type {
  width: 45%;
}

table.thesis td {
  border-top: 1px solid #ddd;
}

.thesis_list h2 {
  display: inline;
  padding-right: 5px;
  font-size: 200%;
}
.thesis_list>a {
  font-size: 120%;
}

.thesis_list p {
  margin-top: 20px;
}

.thesis_back {
  display: block;
  text-align: right;
  margin: 15px;
}

.thesis_table_head {
  width: 20% !important;
}

.thesis_table_data{
  width: 65% !important;
}

.kent_thesis_tcs {
  display: block;
  overflow-y: scroll;
  height: 400px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  color: #6f6f6f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.kent_thesis_tcs_back {
  float: left;
}

.kent_thesis_tcs_sub {
  float: right;
}

.kent_thesis_choose .form-submit {
  clear: both;
  display: block;
  margin: 0 auto;
}

.kent_thesis_radio_grp {
  float: left;
  width: 44%;
  margin: 25px 2% 25px 0;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.kent_thesis_radio_grp input[type="radio"] {
  display: block;
  margin: 25px auto 10px auto;
}

.kent_thesis_radio_grp input[type="radio"]+label {
  display: block;
  margin-bottom: 25px;
  text-align: center;
  color: #6f6f6f;
}

.thesis_status {
  font-size: 70%;
}

.fitem_ffilemanager>.fitemtitle {
  margin-top: 10px;
}

.mform fieldset.staff_comments {
  background-color: #FCF9B4;
}

.kent_thesis_option_heading {
  text-align: center;
  padding-top: 5px;
}
